.userProfileInfo-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #848A87;
  border-radius: 20px;
  padding: 20px;
}

.userProfileInfo-user table th {
  text-align: left;
  padding-right: 10px;
}

.userProfileInfo-user table td {
  text-align: left;
}

.userProfileInfo-user button {
  background-color: #0D7A5F;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.userProfileInfo-user button:hover {
  background-color: #055240;
}

.userProfileInfo-stats {
  border: 1px solid #848A87;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userProfileInfo-stats table {
  margin-bottom: 20px;
}

.userProfileInfo-stats table tr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.userProfileInfo-stats table td {
  text-align: left;
  padding-right: 10px;
}

.userProfileInfo-stats p {
  margin: 0;
  font-weight: bold;
}

.userProfileInfo-stats ul {
  margin: 0;
}
