.reviewForm {
  display: flex;
  flex-direction: column;
  padding: 30px 50px 30px 50px;
}

.reviewForm-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewForm-header > h1 {
  margin: 0;
  margin-bottom: 20px;
}

.reviewForm-headerWombat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.reviewForm-headerWombat > img {
  height: 50px;
  margin-right: 10px;
}

.reviewForm-starInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.reviewForm-starInput i {
  margin: 0;
  padding: 0;
}

.reviewForm-filled {
  background-color: #0D7A5F;
  padding: 5px;
  margin: 2px 2px 2px 0;
  border-radius: 50%;
  color: white;
}

.reviewForm-empty {
  background-color: #848A87;
  padding: 5px;
  margin: 2px 2px 2px 0;
  border-radius: 50%;
  color: white;
}

.reviewForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewForm button {
  margin-top: 10px;
  background-color: #0D7A5F;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.reviewForm button:hover {
  background-color: #055240;
}
