.addReviewImageModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.addReviewImageModal img {
  width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  margin: 20px 0;
  border: 1px solid black;
}

.addReviewImageModal p {
  margin: 0;
}

.addReviewImageModal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.addReviewImageModal-button {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  justify-content: space-around;
}

.addReviewImageModal-button button {
  background-color: #0D7A5F;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}
