.UserReviewListItem {
  width: 100%;
}

.userReviewListItem-line {
  border-bottom: 2px solid #848A87;
  padding-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.userReviewListItem-cardHead img {
  height: 100;
  width: 100px;
  object-fit: cover;
  object-position: center
}
