.UserReviewListItem {
  width: 100%;
}

.userReviewListItem-line {
  border-bottom: 2px solid #848A87;
  padding-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.userReviewListItem-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border: 1px solid #848A87;
  padding: 20px;
  border-radius: 20px;
}

.task {
  margin: 50px;
}

.userReviewListItem-cardHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.userReviewListItem-cardHead p {
  margin: 0;
}

.userReviewListItem-cardHeadInfo table td {
  text-align: left;
}

.userReviewListItem-stars {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userReviewListItem-stars i {
  margin: 0;
  padding: 0;
}

.userReviewListItem-cardHead img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
  border-radius: 50%;
}

.listItem-filled {
  background-color: #0D7A5F;
  padding: 5px;
  margin: 2px 2px 2px 0px;
  border-radius: 50%;
  color: white;
}

.listItem-empty {
  background-color: #848A87;
  padding: 5px;
  margin: 2px 2px 2px 0px;
  border-radius: 50%;
  color: white;
}

.userReviewListItem-cardInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin-bottom: 10px;
}

.userReviewListItem-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.userReviewListItem-buttons button {
  background-color: #0D7A5F;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.userReviewListItem-buttons button:hover {
  background-color: #055240;
}

.userReviewListItem-body {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
